.thumbnail-wrapper {
  margin: 18px 3px;
  cursor: pointer;
  border-radius: 12px;
  transition: all .5s;
}

.thumbnail-wrapper:hover {
  opacity: 0.7;
  box-shadow: 0 6px 12px rgba(33,33,33, 1.2);
}

.card {
  min-height: 270px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  border-radius: 12px;
  padding: 9px;
  user-select: none;
}
.card-top-row {
  min-height: 160px;
}
.card-city-name-wrapper {
  font-size: 3.8rem;
}
.card-date-time-wrapper {
  font-size: 14px;
  padding: 55px 0 0 15px;
}
.card-temperature-wind-wrapper {
  padding-top: 6px;
  text-align: right;
}

.background-image-amsterdam {
  background-image: url('../../../../assets/amsterdam.png');
}
.background-image-berlin {
  background-image: url('../../../../assets/berlin.png');
}
.background-image-rome {
  background-image: url('../../../../assets/rome.png');
}
.background-image-paris {
  background-image: url('../../../../assets/paris.png');
}
.background-image-milan {
  background-image: url('../../../../assets/milan.png');
}
