.page-wrapper { padding: 0 9px}
.page-header-wrapper {
  display: flex;
  padding: 0 9px 6px 9px;
  margin-top: 6px;
  border-bottom: 1px solid #ccc;
}
.page-header-city-back-btn-wrapper {
  min-width: 220px;
}
.page-header-city-name-wrapper {
  font-size: 3rem;
  padding: 0 0 0 6px;
  margin: 15px 0 0 0;
  border-left: 1px solid #ccc;
  user-select: none;
}
.page-header-back-btn {
  background-color: transparent;
  color: white;
  font-size: 3rem;
  padding: 14px 0 3px 0;
  opacity: 0.5;
}
.page-header-back-btn:focus  {
  outline: none;
  box-shadow: none;
}
.page-header-back-btn:hover {
  opacity: 1;
}
.page-content-wrapper {
  min-height: 400px;
  min-width: 350px;
  max-width: 1100px;
  background-color: #e0e0e0;
  margin: 4% auto;
  border-radius: 6px;
  box-shadow: 0 6px 12px rgba(33,33,33, 1.2);
}
.city-info-wrapper {
  font-weight: 200;
  padding: 12px 24px;
  user-select: none;
}
.city-info-date-wrapper {
  font-size: 4rem;
  text-transform: uppercase;
  color: #868683;
}
.city-info-temperature-wind-wrapper {
  color: #7a9c8b;
  padding-top: 15px;
}
.city-info-wind-wrapper {
  font-size: 7rem;
  white-space: nowrap;
}
.city-info-wind-wrapper span {
  font-size: 4rem;
}
.city-info-temperature-wrapper {
  font-size: 10rem;
}
.city-info-forecast-container {
  text-align: center;
  color: #616161;
  padding-top: 50px;
}
.city-info-forecast-titles-wrapper {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 6px 0 0
}
.city-info-forecast-titles-wrapper p{
  margin-bottom: 9px;
}
.city-info-forecast-titles-wrapper span {
  font-size: 2.5rem;
}
.city-info-forecast-time-wrapper {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 12px;
  white-space: nowrap;
}
.city-info-forecast-temperature-wrapper {
  font-size: 1.6rem;
  margin-bottom: 6px;
}
.city-info-forecast-wind-wrapper {
  font-size: 1.4rem;
}
.city-image-wrapper {
  display: none;
  min-height: 480px;
  border-radius: 0 6px 6px 0;
  border-left: 3px solid #ccc;
}
.city-details-loading-wrapper {
  margin-top: 30%;
  font-size: 3rem;
  text-align: center;
}
.city-details-loading-wrapper span{
  font-size: 5rem;
}
.background-image-amsterdam-portrait {
  background-image: url('../../../../assets/amsterdam-portrait.png');
}
.background-image-berlin-portrait {
  background-image: url('../../../../assets/berlin-portrait.png');
}
.background-image-rome-portrait {
  background-image: url('../../../../assets/rome-portrait.png');
}
.background-image-paris-portrait {
  background-image: url('../../../../assets/paris-portrait.png');
}
.background-image-milan-portrait {
  background-image: url('../../../../assets/milan-portrait.png');
}

@media only screen and (min-width: 1000px) {
  .city-image-wrapper {display: block;}
  .page-wrapper { padding: 0 40px}
  .city-info-wrapper {padding: 24px 42px;}
  .page-header-city-name-wrapper {padding-left: 15px;margin-left: 18px;}
}
