.city-list-wrapper {
  padding: 0 40px;
}
.city-list-header {
  padding: 0 9px 6px 9px;
  margin-bottom: 9px;
  user-select: none;
  border-bottom: 1px solid #ccc; }

.city-list-loading-wrapper {
  margin-top: 30%;
  font-size: 3rem;
  text-align: center;
}
.city-list-loading-wrapper span{
  font-size: 5rem;
}
