/* You can add global styles to this file, and also import other style files */

html {
  font-size: 0.54em;
}
.body-container {
  background-color: #616161;
  font-family: 'Roboto', Helevtica, sans-serif;
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 0.642em;
  }
}
